.bp-confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bp-confetti-animation {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

